{{ define "data-disk" -}}
- name: data-disk.service
  command: start
  content: |
    [Unit]
    Description=Format Data Disk
    Before=local-fs-pre.target
    Requires=basic.target
    [Service]
    Type=oneshot
    RemainAfterExit=true
    ExecStart=/var/lib/data-disk/run.sh
- name: var-lib-kubelet-pods.mount
  command: start
  content: |
    [Unit]
    Description=Mount Data disk to /var/lib/kubelet/pods
    Requires=data-disk.service
    After=data-disk.service
    Before=kubelet.service
    [Mount]
    What=/dev/disk/by-label/datadisk
    Where=/var/lib/kubelet/pods
    Type=xfs
    Options=defaults
    [Install]
    WantedBy=multi-user.target
{{- end}}